.navbar-custom {
  a {
    color:white;
    &:hover {
      color:white;
      background: black !important;
    }
  }
}
.navbar-fixed-top {
  background:#072144;
}
.navbar-header {
  button {
    color: white;
    
  }
}
